<html>
  <head>
    <title>MCP Server</title>
  </head>

  <body>
    <div x-data="{ get settings() { return $store.settings.settings } }">
      <template x-if="settings">
        <div>
          <div class="section-title"><span x-text="$store.branding.name"></span> MCP Server</div>
          <div class="section-description">
            <span x-text="`${$store.branding.name} can be exposed as an SSE MCP server.`"></span> See <a href="javascript:openModal('settings/mcp/server/example.html')">connection example</a>.
          </div>

          <div class="field">
            <div class="field-label">
              <div class="field-title">Enable <span x-text="$store.branding.name"></span> MCP Server</div>
              <div class="field-description" x-text="`Expose ${$store.branding.name} as an SSE/HTTP MCP server. This will make this ${$store.branding.name} instance available to MCP clients.`"></div>
            </div>
            <div class="field-control">
              <label class="toggle">
                <input type="checkbox" x-model="settings.mcp_server_enabled" />
                <span class="toggler"></span>
              </label>
            </div>
          </div>
        </div>
      </template>
    </div>
  </body>
</html>
