<html>
<head>
  <script type="module">
    import { store } from "/components/sidebar/chats-store.js";
  </script>
</head>
<body>
  <div x-data>
    <template x-if="$store.chats">
      <div class="chats-list-container" x-data>
        <ul class="config-list" x-show="$store.chats.contexts.length > 0">
          <template x-for="context in $store.chats.contexts" :key="context.id">
            <li>
              <div :class="{'chat-list-button': true, 'font-bold': context.id === $store.chats.selected}"
                   @click="$store.chats.selected = context.id; selectChat(context.id)">
                <span class="chat-name" :title="context.name ? context.name : 'Chat #' + context.no"
                      x-text="context.name ? context.name : 'Chat #' + context.no"></span>
              </div>
              <button class="edit-button" @click.stop="killChat(context.id)">X</button>
            </li>
          </template>
        </ul>
        <div class="empty-list-message" x-show="$store.chats.contexts.length === 0">
          <p><i>No chats to list.</i></p>
        </div>
      </div>
    </template>
  </div>

  <script>
    document.addEventListener('alpine:init', () => {
      const s = Alpine.store('chats');
      if (s && typeof s.init === 'function') s.init();
    });
  </script>
</body>
</html>


