<html>
<head>
  <script type="module">
    import { store } from "/components/sidebar/tabs-store.js";
  </script>
</head>
<body>
  <div class="tabs-container">
    <div class="tabs">
      <div class="tab active" id="chats-tab">Chats</div>
      <div class="tab" id="tasks-tab">Tasks</div>
    </div>
  </div>

  <script>
    document.addEventListener('alpine:init', () => {
      const s = Alpine.store('tabs');
      if (s && typeof s.init === 'function') s.init();
      if (s && typeof s.initializeActiveTab === 'function') s.initializeActiveTab();
    });
  </script>
</body>
</html>


